# data
*.csv
*.parquet

# TRMI API info
/trmi.json

# data dirs
/raw/*.csv
/raw/*.ipynb
/raw/cot/*
/raw/price/*
/raw/trmi/*
/raw/vol/*
/data/*.csv
/data/*.parquet

# other dirs
/other_creds/*
/other_nbs/*
/other_py/*
/other_sync/*

# test files
test.py

# byte-compiled / optimized / DLL files
__pycache__/

# jupyter notebook
.ipynb_checkpoints

