# data
*.csv

# TRMI API info
/trmi.json

# data dirs
/raw/*.csv
/raw/*.ipynb
/raw/cot/*
/raw/price/*
/raw/trmi/*
/raw/vol/*
/combinate/*.csv
/combinate/*.ipynb
/combinate/meta/*
/combinate/pricevol/*
/combinate/trmi/*

# other dirs
/other_creds/*
/other_nbs/*
/other_py/*
/other_sync/*

# byte-compiled / optimized / DLL files
__pycache__/

# jupyter notebook
.ipynb_checkpoints

