# general
ignore*

# data
# *.csv
# *.parquet

# TRMI API info
/trmi.json

# data dirs
/raw/**/*.ipynb
/raw/**/*.csv
/raw/**/*.parquet
/data/**/*.csv
/data/**/*.parquet

# other dirs
/other_creds/*
/other_nbs/*
/other_py/*
/other_sync/*
/ignore/*

# test files
test.py
test.ipynb
test.json

# byte-compiled / optimized / DLL files
__pycache__/

# jupyter notebook
.ipynb_checkpoints

